NEXT_PUBLIC_SUPABASE_URL=https://klafswwraapsaqgzbdhh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_etqMSGYDZVgjedHynrOXNA_fiEFA9u2
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
